<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>989406824505-13781u6deb05jgkrsbiocf6r9k2216b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.989406824505-13781u6deb05jgkrsbiocf6r9k2216b7</string>
	<key>API_KEY</key>
	<string>AIzaSyAtzsRJQO8w9c2OKdoQR7FyubYFaK6RA8c</string>
	<key>GCM_SENDER_ID</key>
	<string>989406824505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appsmaven.sparrowapp</string>
	<key>PROJECT_ID</key>
	<string>sparrow-7a845</string>
	<key>STORAGE_BUCKET</key>
	<string>sparrow-7a845.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:989406824505:ios:75ad72148033de770765e8</string>
</dict>
</plist>